/*
Navbar "hovernav" dropdown menu - this works only for screen sizes larger than phones.
The Bootstrap CSS is unchanged. If you don't want this, delete this segment of the CSS
and delete the corresponding segment of bst.js
*/
@media (min-width: 768px) {
  /* line 7, ../_sass/hovernav.scss */
  .navbar-nav .caret {
    display: none;
  }

  /* line 10, ../_sass/hovernav.scss */
  .navbar-nav .open ul {
    display: none;
  }

  /* line 18, ../_sass/hovernav.scss */
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus,
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #333;
    background: none;
  }

  /* line 27, ../_sass/hovernav.scss */
  .navbar-inverse .navbar-nav > .open > a,
  .navbar-inverse .navbar-nav > .open > a:hover,
  .navbar-inverse .navbar-nav > .open > a:focus,
  .navbar-inverse .navbar-nav > .active > a,
  .navbar-inverse .navbar-nav > .active > a:hover,
  .navbar-inverse .navbar-nav > .active > a:focus {
    color: #969696;
    background: none;
  }

  /* line 31, ../_sass/hovernav.scss */
  .navbar-default .navbar-nav > .hovernav > a {
    color: #555;
  }

  /* line 34, ../_sass/hovernav.scss */
  .navbar-inverse .navbar-nav > .hovernav > a {
    color: #969696;
  }

  /* line 39, ../_sass/hovernav.scss */
  .navbar-default .navbar-nav > .hovernav:hover > a,
  .navbar-default .navbar-nav > .hovernav:hover > a:hover,
  .navbar-default .navbar-nav > .hovernav:hover > a:focus {
    color: #333;
    background: transparent;
  }

  /* line 45, ../_sass/hovernav.scss */
  .navbar-inverse .navbar-nav > .hovernav:hover > a,
  .navbar-inverse .navbar-nav > .hovernav:hover > a:hover,
  .navbar-inverse .navbar-nav > .hovernav:hover > a:focus {
    color: #fff;
    background: transparent;
  }

  /* line 49, ../_sass/hovernav.scss */
  .navbar-default .navbar-nav > li:hover {
    background: #fff;
  }

  /* line 52, ../_sass/hovernav.scss */
  .navbar-inverse .navbar-nav > li:hover {
    background: #080808;
  }

  /* line 55, ../_sass/hovernav.scss */
  .navbar-nav .hovernav:hover > .dropdown-menu {
    display: block;
  }
}
