### Ruby ###
.ruby-version
.ruby-gemset
.rvmrc

### Node ###
node_modules

### Jekyll ###
_site/

### SASS ###
*.sass-cache

### Compass ###
.sass-cache

## Environment normalisation:
/.bundle/
/lib/bundler/man/

#Sublime
bestinclass.sublime-project
bestinclass.sublime-workspace