---
layout: default
title: Best in Class Education
---

<div class="jumbotron" id="home-landing-photo">
  <div class="container">
    <div class="jumbotron-message">
      <h1>Reach Further</h1>
      <p>We help students achieve their personal best.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4 promobox">
      <h2 class="prog-enrichment"><a href="{{ site.baseurl }}/programs/enrichment">Enrichment</a></h2>
      <a href="{{ site.baseurl }}/programs/enrichment">
        <img src="{{ site.baseurl }}/images/programicons/enrichment-icon.svg" onerror="this.onerror=null; this.src='{{ site.baseurl }}/images/programicons/enrichment-icon.png'">
      </a>
      <p>Small group classes cater to students' individual abilities in math and English, building a foundation of skills and critical thinking.</p>
    </div>
    <div class="col-sm-4 promobox">
      <h2 class="prog-pt"><a href="{{ site.baseurl }}/programs/privatetutoring">Private Tutoring</a></h2>
      <a href="{{ site.baseurl }}/programs/privatetutoring">
        <img src="{{ site.baseurl }}/images/programicons/private-tutoring-icon.svg" onerror="this.onerror=null; this.src='{{ site.baseurl }}/images/programicons/private-tutoring-icon.png'">
      </a>
      <p>Experienced tutors work closely with students to build study skills, confidence, and independence.</p>
   </div>
    <div class="col-sm-4 promobox">
      <h2 class="prog-gifted"><a href="{{ site.baseurl }}/programs/giftedprep">Gifted Test Prep</a></h2>
      <a href="{{ site.baseurl }}/programs/giftedprep">
        <img src="{{ site.baseurl }}/images/programicons/gifted-icon.svg" onerror="this.onerror=null; this.src='{{ site.baseurl }}/images/programicons/gifted-icon.png'">
      </a>
      <p>Test-taking practice and skill building for gifted program entrance exams.</p>
    </div>
  </div>
</div>
<div class="container-fluid section-shaded">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="header-light"><a href="{{ site.baseurl }}/about/#approach">Every student has unique needs.</a></h2>
        <p>That's why we provide tailored lessons to help students build confidence and mastery in their academic work.</p>
        <p>Our programs develop concept acquisition, critical thinking, and application of skills. Our math and English curricula follow Common Core Standards, helping prepare students for academic and standardized tests as well as everyday challenges.</p>
        <p>We motivate and encourage students to learn the principles of mathematics and English in a rewarding way. Our teachers monitor student progress on homework and tests to ensure that they are on track and receving the help they need.</p>
        <p>At Best in Class, your children will gain a sense of confidence and excitement towards learning.</p>
      </div>
      <div class="col-md-6">
        <img src="{{ site.baseurl }}/images/photos/bc-teacher-student.jpg" alt="" class="img-responsive">
      </div>
    </div>
  </div>
</div>
<div class="container news-clips-section">
  <div class="row">
    <div class="col-md-4">
      <h2 class="header-dark"><a href="{{ site.baseurl }}/news">Announcements</a></h2>
      <ul class="news-clips-list">
        {% for post in site.categories.news | limit 5 %}
          <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-8">
      <h2 class="header-dark"><a href="{{ site.baseurl }}/spotlight">Student Spotlight</a></h2>
      {% for post in site.categories.spotlight | limit 2 %}
        <div class="news-clips-post">
          <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
          {% if post.content contains '<!--more-->' %}
            {{ post.content | split:'<!--more-->' | first | strip_html }}
          {% else %}
            {{ post.content | truncatewords: 80 | strip_html }}
          {% endif %}
          <span class="readmore"><a href="{{ site.baseurl }}{{ post.url }}">Read more <i class="fa fa-chevron-circle-right"></i></a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>