---
layout: default
title: News | Best in Class Education
---

<div class="container-fluid program-header program-photo" id="banner-img-news">
  <div class="container">
    <h1>News & Announcements</h1>
  </div>
</div>
<div class="container">
  {% for post in site.categories.news limit:7 %}
    <div class="row">
      <div class="col-sm-7 post">
        <h3 class="posttitle">
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
          </a>
        </h3>
        <span class="postmeta">{{ post.date | date_to_string }}</span>
        <p>{{ post.content }}</p>
      </div>
      <div class="col-sm-5 photo-col">
      {% for photo in post.photos %}
        <img class="img-responsive border blog-photo" src="{{ site.baseurl }}{{ photo.src }}" title="{{ photo.title }}" alt="{{ photo.alt }}">
      {% endfor %}
      </div>
    </div>
    <hr>
  {% endfor %}
  <div class="legend">
    <p><a href="{{ site.baseurl }}/news/archive">View Archive Posts</a></p>
  </div>
</div>