---
layout: default
title: News & Announcements
---

<div class="container-fluid program-header" 
	style="background-image: url({{ site.baseurl }}/images/photos/DSC_2030.jpg);
	background-position: center top;">
</div>
<div class="container" id="home">
  <h1>News & Announcements</h1>
  <ul class="posts">
    {% for post in site.posts %}
    	{% if post.blog contains 'news' %}
      	<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>