    <footer>
      <div class="container footer">
        <div class="row">
          <div class="col-md-6">
            <p class="footer-links">
              <a href="{{ site.baseurl }}/news">News</a>
              <a href="{{ site.baseurl }}/programs">Programs</a>
              <a href="{{ site.baseurl }}/careers">Careers</a>
              <a href="{{ site.baseurl }}/about/privacypolicy">Privacy</a>
              <a href="{{ site.baseurl }}/contact">Contact</a>
            </p>
            <p class="footer-legal">
              © 2014 Best in Class Education Center. All rights reserved.
            </p>
          </div>
          <div class="col-md-6">
            <div class="circle"><a href="http://www.facebook.com/BestInClassEducationCenter"><i class="fa fa-lg fa-fw fa-facebook"></i></a></div>
            <div class="circle"><a href="https://plus.google.com/+Bestinclasseducation"><i class="fa fa-lg fa-fw fa-google-plus"></i></a></div>
            <div class="circle"><a href="https://twitter.com/BestInClassEdu"><i class="fa fa-lg fa-fw fa-twitter"></i></a></div>
            <div class="circle"><a href="http://www.linkedin.com/company/best-in-class-education"><i class="fa fa-lg fa-fw fa-linkedin"></i></a></div>
            <div class="circle"><a href="http://pinterest.com/bestinclassedu/"><i class="fa fa-lg fa-fw fa-pinterest"></i></a></div>
            <div class="footer-buttons"> 
              <button type="button" class="btn btn-info">Find a Center</button>
              <button type="button" class="btn btn-info">Own a Franchise</button>
            </div>
          </div>       
        </div>
      </div>
      </footer>
    </body>
</html>