      <footer>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <p class="footer-links">
                <a href="#">News</a>
                <a href="#">Programs</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Careers</a>
                <a href="#">Contact Us</a>
              </p>
              <p class="footer-legal">© 2014 Best in Class Education Center, BC Education Center, BrainChild. All rights reserved.<br>SAT, ACT, ITBS and CogAT are registered trademarks of the respective owners.</p>
            </div>
            <div class="col-md-6">
              <div class="circle"><a href=="#"><i class="fa fa-lg fa-fw fa-facebook"></i></a></div>
              <div class="circle"><a href=="#"><i class="fa fa-lg fa-fw fa-google-plus"></i></a></div>
              <div class="circle"><a href=="#"><i class="fa fa-lg fa-fw fa-twitter"></i></a></div>
              <div class="circle"><a href=="#"><i class="fa fa-lg fa-fw fa-linkedin"></i></a></div>
              <div class="circle"><a href=="#"><i class="fa fa-lg fa-fw fa-pinterest"></i></a></div>
              <div class="footer-buttons"> 
                <button type="button" class="btn btn-default">Find a Center</button>
                <button type="button" class="btn btn-default">Own a Franchise</button>
              </div>
            </div>       
          </div>
        </div>
      </footer>
    </body>
</html>