<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="English and Math Tutoring Services">
        <meta name="author" content="Best in Class Education Center">
        <!-- Favicons for various platforms -->
        <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon/favicon.ico">
        <link rel="apple-touch-icon" sizes="57x57" href="{{ site.baseurl }}/images/favicon/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ site.baseurl }}/images/favicon/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ site.baseurl }}/images/favicon/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/images/favicon/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ site.baseurl }}/images/favicon/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ site.baseurl }}/images/favicon/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ site.baseurl }}/images/favicon/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ site.baseurl }}/images/favicon/apple-touch-icon-152x152.png">
        <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon/favicon-196x196.png" sizes="196x196">
        <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon/favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon/favicon-32x32.png" sizes="32x32">
        <meta name="msapplication-TileColor" content="#00a300">
        <meta name="msapplication-TileImage" content="{{ site.baseurl }}/images/favicon/mstile-144x144.png">
        <meta name="msapplication-config" content="{{ site.baseurl }}/images/favicon/browserconfig.xml">
        <!-- Main style sheet -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">

        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Main Javascripts -->
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/js/main.min.js"></script>
        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
        <script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
    </head>
    <body>
      <!-- Mobile Navbar -->
      <nav class="navbar navbar-default navbar-static-top hovernav visible-sm visible-xs" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-mobile-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo-nav" href="{{ site.baseurl }}/">
                <img src="{{ site.baseurl }}/images/bclogo.svg" class="logo-sm" onerror="this.onerror=null; this.src='{{ site.baseurl }}/images/bclogo.png'">
            </a>
          </div>
          <div class="collapse navbar-collapse" id="navbar-mobile-collapse">
            <ul class="nav navbar-nav">
              <li><a href="{{ site.baseurl }}/programs">Programs</a></li>
              <li><a href="{{ site.baseurl }}/spotlight">Students</a></li>
              <li><a href="{{ site.baseurl }}/about">About Us</a></li>
              <li><a href="{{ site.baseurl }}/locations">Locations</a></li>
              <li class="hidden-sm" id="nearest-location-mobile"></li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Fullsize Navbar -->
      <nav class="navbar navbar-default navbar-static-top hovernav hidden-sm hidden-xs" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand logo-nav" href="{{ site.baseurl }}/">
                <img src="{{ site.baseurl }}/images/bclogo.svg" onerror="this.onerror=null; this.src='/images/bclogo.png'">
            </a>
            <ul class="nav navbar-nav">
              <li class="dropdown hovergreen">
                <a href="{{ site.baseurl }}/programs" class="dropdown-toggle disabled" data-toggle="dropdown">Programs</a>
                <ul class="dropdown-menu columns">
                  <li><a href="{{ site.baseurl }}/programs/enrichment#math">Math</a></li>
                  <li><a href="{{ site.baseurl }}/programs/enrichment#enrichment_english">Reading and Writing</a></li>
                  <li><a href="{{ site.baseurl }}/programs/privatetutoring">Private Tutoring</a></li>
                  <li><a href="{{ site.baseurl }}/programs/beginnersinclass">Beginners in Class</a></li>
                  <li><a href="{{ site.baseurl }}/programs/giftedprep">Gifted Test Prep</a></li>
                  <li><a href="{{ site.baseurl }}/programs/satprep">SAT Test Prep</a></li>
                </ul>
              </li>
              <li class="hovergreen"><a href="{{ site.baseurl }}/spotlight">Students</a></li>
              <li class="dropdown hovergreen">
                <a href="{{ site.baseurl }}/about" class="dropdown-toggle disabled" data-toggle="dropdown">About Us</a>
                <ul class="dropdown-menu columns">
                  <li><a href="{{ site.baseurl }}/about#approach">How We Teach</a></li>
                  <li><a href="{{ site.baseurl }}/about#teachers">Meet Our Teachers</a></li>
                  <li><a href="{{ site.baseurl }}/about#students">Meet Our Students</a></li>
                  <li><a href="{{ site.baseurl }}/about#history">Our History</a></li>
                  <li><a href="{{ site.baseurl }}/news">BC News Blog</a></li>
                </ul>
              </li>
              <li class="hovergreen"><a href="{{ site.baseurl }}/locations" class="dropdown-toggle disabled" data-toggle="dropdown">Locations</a></li>
              <li id="nearest-location"></li>
            </ul>
          </div>
        </div>
      </nav>