      <!-- Compiled Javascript -->
      <script src="{{ site.baseurl }}/js/main.min.js"></script>
      <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDkle0NnqmA1_SRl0tfj4MOEQbTigNZkdY&sensor=true"></script>
      <script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer_compiled.js"></script>
      <script src="{{ site.baseurl }}/js/locationsmap.min.js"></script>
      <script src="http://localhost:35729/livereload.js"></script>
    </body>
</html>