@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');
@import 'variables';
@import 'bootstrap';

/* Playful Font for Headers */
@font-face {
  font-family: 'bubblegum_sansregular';
  src: url('fonts/bubblegumsans-regular-webfont.eot');
  src: url('fonts/bubblegumsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/bubblegumsans-regular-webfont.woff') format('woff'),
       url('fonts/bubblegumsans-regular-webfont.ttf') format('truetype'),
       url('fonts/bubblegumsans-regular-webfont.svg#bubblegum_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
$header-font: 'bubblegum_sansregular', Helvetica, Arial, sans-serif;

* {margin: 0;}
html,body {height: 100%;}
body {
  margin-top: 0px;
  padding-bottom: 20px;
}

.full-height {height: 100%;};

/* ---------------------------------- */
/* General Navigation and Heading */
/* ---------------------------------- */
.navbar-brand {
  padding: 10px 10px 0 0;
}
h1, h2, h3, .navbar-nav > li > a {
  font-family: $header-font;
}
.navbar-nav > li > a {font-size: 18px;}
.navbar {
  margin-bottom: 0px;
  border-bottom: 1px solid $color2;
}
#nearest-location a {
  margin-left: 0px;
  color: $color4;
}

/* ---------------------------------- */
/* Navigation menu */
/* ---------------------------------- */

/* Only for extra small screens */
@media (max-width: 480px) {
  /* Reduce logo size on extra-small screens */
  .logo-sm {
    max-width: 250px;
    height: auto;
  }
}
/* Only for small screens */
@media (max-width: 767px) {
  /* Collapse the navigation menu into hamburger button */
  #navbar-mobile-collapse {
    text-align: center;
    border: none;
    padding: 15px 0 0 0;
  }
  .navbar-brand, .navbar-brand img { 
    display: block;
    float: none;
    margin: 0 auto;
  }
}
/* Only for larger screens */
@media (min-width: 768px) {
  /* Make navbar dropdown on hover */
  .navbar-nav > li {
    padding: 26px 0 12px 0;
  }
  .navbar-nav .caret {
    display: none;
  }
  .navbar-nav .open ul {
    display: none;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus,
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: $gray-dark;
    background: none;
  }
  .navbar-default .navbar-nav > .hovernav > a {
    color: $gray-dark;
  }
  .navbar-default .navbar-nav > .hovernav:hover > a,
  .navbar-default .navbar-nav > .hovernav:hover > a:hover,
  .navbar-default .navbar-nav > .hovernav:hover > a:focus {
    color: $gray-dark;
  }
  .navbar-default .navbar-nav > li:hover {
    background: none;
  }
  .navbar-nav .hovernav:hover > .dropdown-menu {
    display: block;
    padding: 20px 0 3px 0;
    left: 10px;
    min-width: 200px;
    border: 1px solid $color2;
    li a {
      font-size: $font-size-base;
    }
  }
  /* Give dropdown menu 2 columns */
  .columns {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    width: 350px;
  }
  /* Show slanted green box on navbar hover */
  .navbar-default .navbar-nav > li.dropdown:hover:after {
    content: "";
    position: absolute;
    bottom: -14px;
    display: block;
    width: 100%;
    height: 23px;
    background: $color2;
    -webkit-transform: skewX(-8deg);
    -ms-transform: skewX(-8deg);
    transform: skewX(-8deg);
    z-index: 1001;
  }
}

/* ---------------------------------- */
/* Jumbotron screen on homepage */
/* ---------------------------------- */
.jumbotron {
  background-color: $color1-lighter;
  background: url('../images/girlwriting.jpg') center center no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 425px;
  margin-bottom: 0px;
  h1 {
    color: #fff;
    font-size: 2.8em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  }
}
.jumbotron-message {
  max-width: 475px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

/* ---------------------------------- */
/* Promotional boxes on homepage */
/* ---------------------------------- */
.promobox {
  img {
    padding: 10px;
    display: block;
    margin: 0px auto 10px auto;
  }
  h2 {
    color: #fff;
    text-align: center;
    padding: 0px;
    margin-bottom: 4px;
  }
  button {
    margin: 0 auto; ;
  }
  margin-bottom: 20px;
}
.promobox1 > h2 {color: $color1;}
.promobox2 > h2 {color: $color2;}
.promobox3 > h2 {color: $color3;}
.promobox4 > h2 {color: $color4;}
.promobox5 > h2 {color: $color1-lighter;}
.promobox6 > h2 {color: $color2-lighter;}
.learnmore {text-align: center;}
.rowspace {margin-top: 25px;};
.circle {
  margin: 10px 4px;
  padding: 6px 0 0 2px;
  display: inline-block;
  background: #fff;
  border: none;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  a {color: $color2;}
}
//.circle:hover {color: $color2-lighter;}

/* ---------------------------------- */
/* Table for program comparison chart */
/* ---------------------------------- */
.program-list {
  .details {
    font-size: $font-size-small;
  }
  .program {
    margin-bottom: 10px;
    h3 {
      color: $color1;
      margin: 0;
    }
  }
  th.details {
    text-transform: uppercase;
    color: $gray; 
    font-size: $font-size-tiny; 
    font-weight: bold;
  }
  td.details {
    color: $gray-darker; 
    font-size: $font-size-small; 
  }
}
@media (max-width: 767px) {
  /* Collapse tables into stackable blocks */
  .program-list table, thead, tbody, th, td, tr { 
    display: block;
  }
  .program-list {
    margin-top: 40px;
    
    /* Hide table headers */
    thead tr {display: none;}

    tr {margin-bottom: 30px;}

    td.details { 
      border: none;
      position: relative;
      padding-left: 20%; 
    }
    /* Prepend column labels */
    td.details:before { 
      position: absolute;
      top: 5px;
      left: 5px;
      width: 15%;
      white-space: nowrap;
      text-transform: uppercase;
      color: $gray; 
      font-size: $font-size-tiny; 
      font-weight: bold;
    }
    /*  Label the data (excluding title and description) */
    td.details:nth-of-type(2):before { content: 'GRADES';}
    td.details:nth-of-type(3):before { content: 'SUBJECTS'; }
    td.details:nth-of-type(4):before { content: 'SCHEDULE'; }
    td.details:nth-of-type(5):before { content: 'LOCATIONS'; } 
  }
}
@media (min-width: 768px) {
  .program-list {
    margin-top: 60px;
    border: none;
    width: 100%; 
    border-collapse: separate;
    border-spacing: 0;
    .program {
      width: 50%;
      padding: 0 50px 50px 0;
    }
    .details {
      text-align: center;
      vertical-align: middle;
    }
  }
}

/* ---------------------------------- */
/* Section Header */
/* ---------------------------------- */
.program-header {
  background: $gray-lighter;
  text-align: center;
  position: relative;
  height: 250px;
  margin-bottom: 25px;
  h1 {margin-top: 50px;}
}
.nav-tabs > li {
    float: none;
    display: inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}
.nav-tabs {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align:center;
}
.tab-pane {padding-top: 25px;}

/* ---------------------------------- */
/* Google Map on top of locations page */
/* ---------------------------------- */
#map-canvas {
  background: $gray-lighter;
  position: relative;
  height: 100%; 
  min-height: 100%;
  margin-bottom: 25px;
  border-bottom: 1px solid $color2;
}
.marker-labels p {
  color: $color1;
  font-size: 14px;
}
.infowindow-link:hover {
  text-decoration: none;
}
#location-list {
  height: 100%;
  min-height: 100%;
  overflow: scroll;
  border-bottom: 1px solid $color2;
}

/* ---------------------------------- */
/* Testimonial Section on multiple pages */
/* ---------------------------------- */
.testimonial {
  background-color: #00529c;
  background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nNycgaGVpZ2h0PSc3Jz4KCTxyZWN0IHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEwMCUnIGZpbGw9JyMwMDUyOWMnLz4KCTxlbGxpcHNlIGN4PSc1MCUnIGN5PScwJScgcng9JzUwJScgcnk9JzUwJScgZmlsbC1vcGFjaXR5PScwLjE0JyBmaWxsPScjMDM3YmViJy8+Cgk8ZWxsaXBzZSBjeD0nMCUnIGN5PScxMDAlJyByeD0nNTAlJyByeT0nNTAlJyBmaWxsLW9wYWNpdHk9JzAuMTQnIGZpbGw9JyMwMzdiZWInLz4KCTxlbGxpcHNlIGN4PScxMDAlJyBjeT0nMTAwJScgcng9JzUwJScgcnk9JzUwJScgZmlsbC1vcGFjaXR5PScwLjE0JyBmaWxsPScjMDM3YmViJy8+Cjwvc3ZnPg==');
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  margin: 60px 0 0 0;
  padding: 20px 10px;
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
}
.testimonial-quote {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px 0;
}

/* ---------------------------------- */
/* Shaded section for differentiating rows */
/* ---------------------------------- */
.shaded {
  padding: 50px 0;
  background: #f5f7f9;
  border-top: 1px solid #e2e3e6;
  border-bottom: 1px solid #e2e3e6;
}

/* ---------------------------------- */
/* Find a location section on multiple pages */
/* ---------------------------------- */
.location-finder {
  margin: 5em 0;
  text-align: center;
  input {margin: 10px auto;}
}
#zipCode {
  width: 100px;
}

/* ---------------------------------- */
/* General Button Styling */
/* ---------------------------------- */
button {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

/* ---------------------------------- */
/* Footer */
/* ---------------------------------- */
footer {
  color: #fff;
  background: $color2;
  text-align: center;
  margin-top: 50px;
  padding: 15px 0px 15px 0px;
}
footer .col-md-6 {
  padding: 0;
  min-height: 75px; 
}
.footer-legal {
  text-align: center;
  font-size: $font-size-tiny;
}
.footer-links {
  font-size: 16px;
  text-align: center;
  padding: 15px 0 5px 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  a {
    color: #fff;
    padding: 0 8px 0 0;
  }
  a:hover { text-decoration: none; }
}
.footer-buttons {
  margin: auto;
  margin-bottom: 20px;
  button:hover { 
    border-color: $color2;
    background: #fff; 
  }
}
