// customize bootstrap variables here:
@import url("http://fonts.googleapis.com/css?family=Happy+Monkey");
@import "variables";
@import "bootstrap";
@import "hovernav";


body {
	margin-top: 0px;
	padding-top: 70px;
	padding-bottom: 20px;
}
.jumbotron {
	margin-bottom: 0px;
}
.navbar-brand {
	padding: 10px;
}
h1, h2, .navbar-nav > li > a {
	font-family: 'Happy Monkey', Helvetica, Arial, sans-serif;
}
.navbar-nav > li > a {
	font-size: $font-size-large;
}
.promobox > h2 {
	color: #fff;
	text-align: center;
	padding: 6px;
}
.promobox1 > h2 {
	background: #3385CE;
}
.promobox2 > h2 {
	background: #77E83A;
}
.promobox3 > h2 {
	background: #EF3C62;
}
.pomobox > img {
	display:block;
    margin:auto;
}