---
layout: default
title: Student Spotlight
---

<div class="container-fluid program-header" 
	style="background-image: url({{ site.baseurl }}/images/photos/DSC_2211.jpg);
	background-position: center top;">
</div>
<div class="container" id="home">
  <h1>Student Spotlight</h1>
  <ul class="posts">
    {% for post in site.posts %}
    	{% if post.blog contains 'spotlight' %}
      	<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    	{% endif %}
    {% endfor %}
  </ul>
</div>