{% include header.html %}
<div class="container-fluid center-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="text-info-box">
          <h2 id="set-center-title">{{ page.centername }}</h2>
          <p>{{ page.address-line1 }}<br>{{ page.address-line2 }}</p>
          <p>
            <br><i class="fa fa-phone"></i>&nbsp;&nbsp;<a href="tel:{{ page.phone }}">{{ page.phone }}</a>
            <br><i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="mailto:{{ page.email }}">{{ page.email }}</a>
          </p>
          {% if page.centerstatus %}
            <h4>{{ page.centerstatus }}</h4>
          {% endif %}
        </div>
      </div>
      <div class="col-sm-6">
        <a href="{{ page.googlemaplink }}"><img src="http://maps.googleapis.com/maps/api/staticmap?center={{ page.lat }},{{ page.lon }}&markers=color:green%7Clabel:A%7C{{ page.lat }},{{ page.lon }}&zoom=14&size=600x400&sensor=false" class="img-responsive googlemap" alt="View in Google Maps"></a>
      </div>
    </div>
  </div>
  <div class="section-shaded action-box">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h3>New Students</h3>
          <a href="#signup" class="btn btn-light btn-lg btn-grow">Get Started</a>
        </div>
        <div class="col-sm-4 hidden-xs class-schedule-col">
          <a href="#class-info" class="scroll-arrow"><i class="fa fa-caret-down fa-4x btn-grow"></i></a>
        </div>
        <div class="col-sm-4">
          <h3>Current Students</h3>
          <a href="#makeup" class="btn btn-light btn-lg btn-grow">Makeup a Class</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" id="class-info">

  {% if page.programs-offered %}
    <h3>Programs Offered at {{ page.centername }}</h3>
    <ul>
      {% for program in page.programs-offered %} 
        <li><a href="{{ site.baseurl }}/programs/{{ program.slug }}">{{ program.name }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if page.weekly-schedule %}
    <h3>Weekly Class Schedule</h3>
    <div class="row">
      {% for day in page.weekly-schedule %}
        <div class="col-sm-3">
          <div class="panel panel-schedule">
            <div class="panel-schedule-heading">
              {{ day.day }}
            </div>
            <div class="panel-body">
              {% for time in day.times %}
                {{ time }}<br>
              {% endfor %}
            </div> 
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if page.calendarlink %}
    <h3>School Calendar</h3>
    <div id="calendar"></div>
    <p class="legend">
      <span class="legend-left"><i class="fa fa-times-circle"></i> No class</span>
      <span class="legend-left"><i class="fa fa-warning"></i> No class: make-up required</span>
      <span><i class="fa fa fa-star"></i> Special Event</span>
    </p>
  {% endif %}

</div>

{% if page.manager-name %}
  <div class="container-fluid section-shaded space-above">
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-sm-push-3">
          <h3 class="manager-name">{{ page.manager-name }}</h3>
          <span class="manager-title">{{ page.manager-title }}</span>
          <p class="manager-bio">{{ page.manager-bio }}</p>
        </div>
        <div class="col-sm-3 col-sm-pull-9">
          <img src="{{ site.baseurl }}/images/managers/{{ page.manager-img }}" class="img-responsive manager-photo">
        </div>
      </div>
    </div>
  </div>
{% endif %}

<div class="container-fluid" id="signup">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <h3>New Students</h3>
        <p>Enrollment is easy. Schedule a free appointment to learn more and get your child started at this center.
        <h4>See the center.</h4>
        <p>Learn about our programs, tour the classrooms, and see sample teaching materials.</p>
        <h4>Assessment test for your child.</h4>
        <p>The assessment test generally takes 30-45 minutes per subject and is used in determining a student's course plan. The test fee is $25 per subject, which is credited towards tuition upon enrollment. This test is required for placement in the enrichment program and optional for other programs.</p>
        <h4>Set a course plan and schedule.</h4>
        <p>We will review test results with you and discuss learning needs and goals for your child. After selecting a course and schedule, your child will be ready for the next class.</p>
      </div>
      <div class="col-sm-7 form-shaded">
        <h3>Join Best in Class!</h3>
        <form role="form" name="signup-form">
          <div class="form-group">
            <input type="text" class="form-control" id="signup-name" placeholder="Parent Name">
          </div>
          <div class="row">
            <div class="col-sm-6 left-inline-input">
              <input type="email" class="form-control" id="signup-email" placeholder="Email">
            </div>
            <div class="col-sm-6 right-inline-input">
              <input type="tel" class="form-control" id="signup-phone" placeholder="Phone">
            </div>
          </div>
          <div class="form-group form-spacer">
            <select class="form-control">
              <option value="" disabled selected>What program are you interested in?</option>
              {% for program in page.programs-offered %} 
                <option value="{{ program.name }}">{{ program.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <select class="form-control">
              <option value="" disabled selected>What grade is your child in?</option>
              <option value="PreK">PreK</option>
              <option value="K">Kindergarden</option>
              <option value="1">1st Grade</option>
              <option value="2">2nd Grade</option>
              <option value="3">3rd Grade</option>
              <option value="4">4th Grade</option>
              <option value="5">5th Grade</option>
              <option value="6">6th Grade</option>
              <option value="7">7th Grade</option>
              <option value="8">8th Grade</option>
              <option value="9">9th Grade</option>
              <option value="10">10th Grade</option>
              <option value="11">11th Grade</option>
              <option value="12">12th Grade</option>
            </select>
          </div>
          <div class="form-group">
            <select class="form-control">
              <option value="" disabled selected>When would you prefer to come in?</option>
              {% for day in page.weekly-schedule %} 
                <option value="{{ day.day }}">{{ day.day }}</option>
              {% endfor %}
              <option value="Other">Other</option>
            </select>
          </div>
          <div class="form-group">
            <textarea id="signup-comments" class="form-control" rows="3" placeholder="Questions or Comments"></textarea>
          </div>
          <button type="submit" class="btn btn-light btn-lg btn-grow">OK!</button>
        </form>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container-fluid" id="makeup">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <h3>Current Students</h3>
        <p>Miss a day? To schedule a makeup class, fill out the form to the right. If you run into any issues, give your local manager a call.</p>
      </div>
      <div class="col-sm-7 form-shaded">
        <h3>Reschedule a Class</h3>
        <form role="form" name="mForm">
          <div class="form-group">
            <input type="text" class="form-control" id="mParent" placeholder="Parent Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="mStudent" placeholder="Student Name(s)">
          </div>
          <div class="row">
            <div class="col-sm-6 left-inline-input">
              <input type="email" class="form-control" id="mEmail" placeholder="Email">
            </div>
            <div class="col-sm-6 right-inline-input">
              <input type="tel" class="form-control" id="mPhone" placeholder="Phone">
            </div>
          </div>
          <div class="form-group">
            <select class="form-control" name="mProgram">
              <option value="" disabled selected>Which program is you child in?</option>
              <option value="Enrichment">Enrichment</option>
              <option value="PT">Private Tutoring</option>
            </select>
          </div>
          <div class="row form-spacer">
            <div class="col-md-4">
              <p class="form-label">Your Scheduled Class:</p>
            </div>
            <div class="col-md-4 left-inline-input">
              <select class="form-control" name="mRegDay" onchange="setOptions(document.mForm.mRegDay.options[document.mForm.mRegDay.selectedIndex].value, 'mRegTime');">
                <option value="" disabled selected>Scheduled Day</option>
                {% for day in page.weekly-schedule %} 
                  <option value="{{ day.day }}">{{ day.day }}</option>
                {% endfor %}
                <option value="Other">Other</option>
              </select>
            </div>
            <div class="col-md-4 right-inline-input">
              <select class="form-control" name="mRegTime">
                <option value="" disabled selected>Scheduled Time</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <p class="form-label">Desired Makeup Class:</p>
            </div>
            <div class="col-md-4 left-inline-input">
              <select class="form-control" name="mNewDay" onchange="setOptions(document.mForm.mNewDay.options[document.mForm.mNewDay.selectedIndex].value, 'mNewTime');">
                <option value="" disabled selected>Prefered Day</option>
                {% for day in page.weekly-schedule %} 
                  <option value="{{ day.day }}">{{ day.day }}</option>
                {% endfor %}
                <option value="Other">Other</option>
              </select>
            </div>
            <div class="col-md-4 right-inline-input">
              <select class="form-control" name="mNewTime">
                <option value="" disabled selected>Prefered Time</option>
              </select>
            </div>
          </div>
          <div class="form-group form-spacer">
            <textarea id="mComments" class="form-control" rows="3" placeholder="Questions or Comments"></textarea>
          </div>
          <button type="submit" class="btn btn-light btn-lg btn-grow">Let's Go!</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  function setOptions(chosen, formElem) {
    var selbox = document.mForm[formElem];

    selbox.options.length = 1;

    {% for day in page.weekly-schedule %} 
      if (chosen == '{{ day.day }}' ) {
        {% for time in day.times %}
          selbox.options[selbox.options.length] = new Option('{{ time }}','{{ time }}');
        {% endfor %}
        selbox.options[selbox.options.length] = new Option('Other','Other');
      } 
    {% endfor %}

    if (chosen == 'Other' ) {
      selbox.options[selbox.options.length] = new Option('Other','Other');
    } 
  }
</script>

{% if page.calendarlink %}
  <script>
    var options = {
      events: [],
      firstDayOfWeek: "Sunday",
      showDays: true,
      color: "green",
      googleCal: [
      {
        calendar: "{{ page.calendarlink }}",
        apikey: "AIzaSyBHD4G7RLYjTVetS0XD7QrUeVe0HHedxmo"
      }],
      onDayClick: function() {}
    };

    $(calendar).kalendar(options);
  </script>
{% endif %}

{% include footer.html %}