{% include header.html %}

<div class="container-fluid program-header" 
  {% if page.program.photo %}
    style="background-image: url({{ site.baseurl }}/images/photos/{{ page.program.photo }});"
  {% endif %}
>
  <div class="container">
    <h1>{{ page.program.title }}</h1>
    <p>{{ page.program.description }}</p>
  </div>
</div>

<!-- Main Content -->
<div class="container">  
  {{ content }}
</div>

<!-- Testimonials -->
{% include testimonials.html %}

<!-- Location Finder -->
{% include zipsearch.html %}

{% include footer.html %}
{% include loadscripts-default.html %}