{% include header.html %}

<div class="container-fluid program-header program-photo hastabs" 
  {% if page.program.photo %}
    style="background-image: url({{ site.baseurl }}/images/photos/{{ page.program.photo }});"
  {% endif %}
>
  <div class="container">
    <h1>{{ page.program.title }}</h1>
    <p>{{ page.program.description }}</p>
  </div>
</div>

<!-- Tab panes -->
<div class="container">  
  <!-- Nav tabs -->
  <ul class="nav nav-tabs responsive" id="program-tabs">
    <li class="active"><a href="#english" data-toggle="tab">English</a></li>
    <li><a href="#math" data-toggle="tab">Math</a></li>
  </ul>
  <div class="tab-content responsive">
    <div class="tab-pane active" id="english">
      {% contentblock english %}
    </div>
    <div class="tab-pane"  id="math">
      {% contentblock math %}
    </div>
  </div>
</div>
<script>
  (function($) {
      fakewaffle.responsiveTabs(['xs']);
  })(jQuery);
</script>

{% include testimonials.html %}
{% include zipsearch.html %}
{% include footer.html %}
